.w-50 {
	width: 50%;
}

.w-100 {
	width: 100%;
}

.w-400px {
	width: 400px;
}

.min-w-100px {
	min-width: 100px;
}

.min-w-200px {
	min-width: 200px;
}

.min-w-300px {
	min-width: 300px;
}

.min-w-400px {
	min-width: 400px;
}

.min-w-500px {
	min-width: 500px;
}

.max-w-100px {
	max-width: 100px;
}

.max-w-200px {
	max-width: 200px;
}

.max-w-300px {
	max-width: 300px;
}

.max-w-400px {
	max-width: 400px;
}

.max-w-500px {
	max-width: 500px;
}

.h-100 {
	height: 100%;
}

.p-1 {
	padding: 0.25rem;
}

.p-2 {
	padding: 0.5rem;
}

.p-3 {
	padding: 0.75rem;
}

.p-4 {
	padding: 1rem;
}

.p-5 {
	padding: 1.25rem;
}

.p-6 {
	padding: 1.5rem;
}

.p-7 {
	padding: 1.75rem;
}

.p-8 {
	padding: 2rem;
}

.p-9 {
	padding: 2.5rem;
}

.p-10 {
	padding: 3rem;
}

.m-1 {
	margin: 0.25rem;
}

.m-2 {
	margin: 0.5rem;
}

.m-3 {
	margin: 0.75rem;
}

.m-4 {
	margin: 1rem;
}

.m-5 {
	margin: 1.25rem;
}

.m-6 {
	margin: 1.5rem;
}

.m-7 {
	margin: 1.75rem;
}

.m-8 {
	margin: 2rem;
}

.m-9 {
	margin: 2.25rem;
}

.m-10 {
	margin: 2.5rem;
}

.mt-1 {
	margin-top: 0.25rem;
}

.mt-2 {
	margin-top: 0.5rem;
}

.mt-3 {
	margin-top: 0.75rem;
}

.mt-4 {
	margin-top: 1rem;
}

.mt-5 {
	margin-top: 1.25rem;
}

.mt-6 {
	margin-top: 1.5rem;
}

.mt-7 {
	margin-top: 1.75rem;
}

.mt-8 {
	margin-top: 2rem;
}

.mt-9 {
	margin-top: 2.25rem;
}

.mt-10 {
	margin-top: 2.5rem;
}

.mb-1 {
	margin-bottom: 0.25rem;
}

.mb-2 {
	margin-bottom: 0.5rem;
}

.mb-3 {
	margin-bottom: 0.75rem;
}

.mb-4 {
	margin-bottom: 1rem;
}

.mb-5 {
	margin-bottom: 1.25rem;
}

.mb-6 {
	margin-bottom: 1.5rem;
}

.mb-7 {
	margin-bottom: 1.75rem;
}

.mb-8 {
	margin-bottom: 2rem;
}

.mb-9 {
	margin-bottom: 2.25rem;
}

.mb-10 {
	margin-bottom: 2.5rem;
}

.my-1 {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.my-2 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.my-3 {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.my-4 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.my-5 {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

.my-6 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.my-7 {
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
}

.my-8 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.my-9 {
	margin-top: 2.25rem;
	margin-bottom: 2.25rem;
}

.my-10 {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.g-1 {
	gap: 0.25rem;
}

.g-2 {
	gap: 0.5rem;
}

.g-3 {
	gap: 0.75rem;
}

.g-4 {
	gap: 1rem;
}

.fw-bold {
	font-weight: bold;
}

.bg-white {
	background-color: #fff;
}

.bg-black {
	background-color: #000;
}

.bg-gray {
	background-color: #666;
}

.text-end {
	text-align: end;
}

.text-center {
	text-align: center;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-center {
	justify-content: center;
}

.justify-evenly {
	justify-content: space-evenly;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.col-1 {
	width: calc(100% / 12);
}

.col-2 {
	min-width: calc(100% / 6);
}

.col-3 {
	min-width: calc(100% / 4);
}

.col-4 {
	min-width: calc(100% / 3);
}

.col-6 {
	min-width: calc(100% / 2);
}

.col-12 {
	min-width: calc(100%);
}

.d-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.grid-row--2 {
	grid-template-rows: 1fr 1fr;
}

.grid-row--3 {
	grid-template-rows: 1fr 1fr 1fr;
}

.grid-row--4 {
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

.grid-row--5 {
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.grid-row--6 {
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-column--2 {
	grid-template-columns: 1fr 1fr;
}

.grid-column--3 {
	grid-template-columns: 1fr 1fr 1fr;
}

.grid-column--4 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-column--5 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-column--6 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media (min-width: 576px) {
	.col-sm-1 {
		width: calc(100% / 12);
	}

	.col-sm-2 {
		min-width: calc(100% / 6);
	}

	.col-sm-3 {
		min-width: calc(100% / 4);
	}

	.col-sm-4 {
		min-width: calc(100% / 3);
	}

	.col-sm-6 {
		min-width: calc(100% / 2);
	}

	.col-sm-12 {
		min-width: calc(100%);
	}
}

@media (min-width: 768px) {
	.col-md-1 {
		width: calc(100% / 12);
	}

	.col-md-2 {
		min-width: calc(100% / 6);
	}

	.col-md-3 {
		min-width: calc(100% / 4);
	}

	.col-md-4 {
		min-width: calc(100% / 3);
	}

	.col-md-6 {
		min-width: calc(100% / 2);
	}

	.col-md-12 {
		min-width: calc(100%);
	}
}

@media (min-width: 992px) {
	.col-lg-1 {
		width: calc(100% / 12);
	}

	.col-lg-2 {
		min-width: calc(100% / 6);
	}

	.col-lg-3 {
		min-width: calc(100% / 4);
	}

	.col-lg-4 {
		min-width: calc(100% / 3);
	}

	.col-lg-6 {
		min-width: calc(100% / 2);
	}

	.col-lg-12 {
		min-width: calc(100%);
	}
}

@media (min-width: 1200px) {
	.col-xl-1 {
		width: calc(100% / 12);
	}

	.col-xl-2 {
		min-width: calc(100% / 6);
	}

	.col-xl-3 {
		min-width: calc(100% / 4);
	}

	.col-xl-4 {
		min-width: calc(100% / 3);
	}

	.col-xl-6 {
		min-width: calc(100% / 2);
	}

	.col-xl-12 {
		min-width: calc(100%);
	}
}

@media (min-width: 1400px) {
	.col-xxl-1 {
		width: calc(100% / 12);
	}

	.col-xxl-2 {
		min-width: calc(100% / 6);
	}

	.col-xxl-3 {
		min-width: calc(100% / 4);
	}

	.col-xxl-4 {
		min-width: calc(100% / 3);
	}

	.col-xxl-6 {
		min-width: calc(100% / 2);
	}

	.col-xxl-12 {
		min-width: calc(100%);
	}
}
