* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--nav-height: 100px;
}

html {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	scroll-behavior: smooth;
}

body {
	background-color: #eee;
	height: 100%;
	min-height: 100vh;
}

.App {
	position: relative;
	text-align: center;
}

.App-link {
	color: #61dafb;
}

.nav {
	position: fixed;
	top: 0;
	left: -100%;
	padding: 4rem 1rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #b32a2aee;
	width: 50%;
	min-width: 220px;
	height: 100%;
	z-index: 20;
	transition: left 1s;
}

.nav--active {
	left: 0;
}

.nav__burger {
	position: fixed;
	top: 32px;
	left: 32px;
	width: 32px;
	height: 32px;
	background-color: #111;
	cursor: pointer;
	z-index: 20;
}

.nav__link {
	padding: 4px 8px;
	width: 100%;
	font-size: 1.5rem;
	font-weight: bold;
	color: #e7a8a8;
	list-style: none;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: #111 -4px 4px 6px;
	transition: color 0.1s ease-in;
}

.nav__link:hover {
	color: #e92626;
	cursor: pointer;
}

.nav__link:visited {
	color: #e7a8a8;
}

.nav__link:visited:hover {
	color: #e92626;
}

.back-to-top-btn {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 50px;
	right: 50px;
	border-radius: 50%;
	z-index: 100;
	cursor: pointer;
}

.icon-up {
	display: inline-block;
	background-image: url('../public/img/icons/arrow-up.svg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

.hero {
	position: relative;
	margin: 4rem auto;
	width: 100%;
	height: 400px;
	background-color: #eee;
	z-index: 0;
}

.hero-img {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 800px;
	object-fit: cover;
}

.hero-text {
	position: absolute;
	margin: 0;
	top: calc(200px - 2rem);
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
	color: #aaa;
	text-shadow: black 4px 4px 4px;
	width: 100%;
}

.hero-shadow {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 800px;
}

.special__wrapper {
	position: relative;
	background-color: #eee;
	z-index: 10;
}

.special__container {
	padding: 2rem;
	margin: 0 auto;
	display: flex;
	max-width: 1200px;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.special__card {
	position: relative;
	padding: 8px 16px;
	height: 400px;
	width: 300px;
	border: 4px solid brown;
	border-radius: 16px;
	box-shadow: #111 0px 4px 8px;
}

.special__card--active {
	background-color: hsla(130, 45%, 70%, 0.7);
}

.special__title {
	text-align: center;
}

.special__description {
	text-align: center;
	margin-top: 9rem;
}

.special__place {
	margin: 1rem;
	padding: 4px 8px;
	font-weight: bold;
}

.special__image {
	position: absolute;
	top: 2.5rem;
	left: 50%;
	width: 128px;
	height: 128px;
	translate: -50%;
	border: 1px solid #111;
	border-radius: 50%;
}

.special__image--lg {
	width: 256px;
	height: 256px;
}

.footer-container {
	position: relative;
	width: 100%;
	height: 300px;
	bottom: 0;
	background-color: #aaa;
}

@media (min-width: 992px) {
	.nav {
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: var(--nav-height);
		transition: none;
	}

	.nav__link {
		padding: 6px 12px;
		font-size: 1.5rem;
	}

	.nav__burger {
		display: none;
	}

	.hero-img {
		top: var(--nav-height);
	}

	.hero-shadow {
		top: var(--nav-height);
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
